a {
  text-decoration: none;
  color: #003366;
}

.button {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid grey;
  padding-bottom: 8px;
  padding-right: 8px;
}

input {
  width: 80px;
  height: 50px;
}

input:hover {
  cursor: pointer;
}

body {
  margin-left: 0;
  margin-right: 0;
}

.content {
  margin: 0 100px;
  text-align: center;
}

h1 {
  text-align: center;
}
